---
import Layout from '../layouts/Layout.astro'
import { Copy, Check, Package } from '@lucide/astro'
import { SkillstuiDemo } from '@/components/skillstui-demo'
import GithubIcon from '@/components/github-icon.astro'
import { LOGO } from '@/lib/logo'
import Footer from '@/components/footer.astro'

const steps = [
  {
    title: 'Run the command',
    body: 'Execute <span class="text-white font-bold">npx skillstui</span> in your project root directory.',
  },
  {
    title: 'Search skills',
    body: 'Search for skills using the <span class="text-white font-bold">skills.sh</span> API.',
  },
  {
    title: 'Select skills and agents',
    body: 'Select the skills you want to install and the AI agents you want to use.',
  },
  {
    title: 'Install skills',
    body: 'Install the skills you selected using the <span class="text-white font-bold">skills.sh</span> API. The skills are installed into your project directory.',
  },
]
---

<Layout>
  <main
    class='mx-auto flex min-h-screen max-w-7xl flex-col justify-center gap-8 px-6 py-8 text-sm lg:grid lg:grid-cols-[minmax(0,30rem)_minmax(0,42rem)] lg:content-center lg:gap-16 lg:py-10 lg:pr-8 lg:pl-12'
  >
    <section class='w-full max-w-2xl'>
      <pre
        class='mb-8 h-[6lh] overflow-hidden text-[10px] leading-none text-white sm:text-[12px]'
        aria-hidden='true'>{LOGO}</pre>

      <h1 class='mb-8 text-zinc-400'></h1>

      <!-- Install command -->
      <div class='mb-12 flex items-center justify-between gap-4'>
        <div class='w-full'>
          <p class='mb-2 text-xs tracking-widest uppercase'>Try it now</p>
          <div
            class='group flex w-fit cursor-pointer items-center gap-3 border border-zinc-800 px-4 py-3'
          >
            <span>$</span>
            <span>npx skillstui</span>
            <button
              class='text-muted-foreground blur-in ease inline-flex shrink-0 cursor-pointer items-center justify-center rounded-md transition-colors duration-150 active:scale-90 motion-reduce:transition-none'
              aria-label='Copy command'
              id='copy-btn'
            >
              <span id='icon-copy'><Copy /></span>
              <span id='icon-check' class='hidden'><Check /></span>
            </button>
          </div>
        </div>

        <div
          class='group flex cursor-pointer items-center justify-end gap-3 pt-6'
        >
          <a
            href='https://github.com/vab1997/skillstui'
            target='_blank'
            rel='noopener noreferrer'
            class='flex w-full items-center gap-2 border border-white bg-white px-4 py-3 text-sm text-black hover:bg-white/80'
          >
            <GithubIcon class='size-6 text-black' />
            GitHub
          </a>

          <a
            href='https://skills.sh'
            target='_blank'
            rel='noopener noreferrer'
            class='border-border flex w-full items-center gap-2 border bg-transparent px-4 py-3 text-xs text-white hover:bg-white/10'
          >
            <Package class='size-6' />
            Skills
          </a>
        </div>
      </div>

      <!-- How it works -->
      <div class='mb-16'>
        <p class='mb-6 text-xs tracking-widest uppercase'>How it works</p>
        <div class='space-y-4'>
          {
            steps.map((step, i) => (
              <div class='flex gap-4'>
                <span class='shrink-0 text-zinc-600'>[{i + 1}]</span>
                <div>
                  <p class=''>{step.title}</p>
                  <p class='text-muted-foreground/80' set:html={step.body} />
                </div>
              </div>
            ))
          }
        </div>
      </div>

      <Footer class='hidden lg:flex' />
    </section>
    <section class='flex w-full justify-center lg:justify-end'>
      <SkillstuiDemo client:load />
    </section>
    <Footer class='mx-0 flex lg:hidden' />
  </main>
</Layout>

<script>
  document.getElementById('copy-btn')?.addEventListener('click', async () => {
    await navigator.clipboard.writeText('npx skillstui')
    document.getElementById('icon-copy')?.classList.add('hidden')
    document.getElementById('icon-check')?.classList.remove('hidden')
    setTimeout(() => {
      document.getElementById('icon-copy')?.classList.remove('hidden')
      document.getElementById('icon-check')?.classList.add('hidden')
    }, 2000)
  })
</script>
