---
const { class: className } = Astro.props
import { cn } from '@/lib/utils'
---

<footer
  class={cn(
    'relative mx-auto flex max-w-6xl flex-col items-start justify-start gap-2 md:flex-row md:items-center md:justify-between',
    className,
  )}
>
  <span class="text-muted-foreground/80 text-sm leading-snug uppercase">
    (c) 2026 skillstui.sh
  </span>

  <div class="flex items-center gap-4">
    <a
      href="https://x.com/victorbejas"
      target="_blank"
      rel="noopener noreferrer"
      class="text-muted-foreground/80 hover:text-muted-foreground text-sm leading-snug uppercase transition-colors"
    >
      @victorbejas
    </a>
  </div>
</footer>
